body {
    margin: 0;
    padding: 0;
    /* background: #191919; */
    background: #ffffff;
}

h1 {
    color: #009879;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0em;
    font-weight: bold;
}

* {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    margin: auto;
    padding: 10px;
    /* Change your font family */
}

.langFilter {
    /* margin-left: 250px; */
    /* display: flex;
    justify-content: flex; */
    flex-grow: 2;
}

button {
    border: 2px solid #3498db;
    border-radius: 30px;
    background-color: #ffffff;
}

@media screen and (max-width:426px) {
    .table-container {
        height: 400;
        width: 200px;
        /* top: 200px; */
        font-size: 1em;
        border-radius: 20px 20px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }
}

.table-container {
    /* border-collapse: collapse; */
    /* position:fixed; */
    /* margin: 25px 0; */
    margin: auto;
    /* height: 500px;
    width: 100px; */
    font-size: 1em;
    min-width: 400px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table-container thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.table-container th, .table-container td {
    padding: 12px 15px;
}

.table-container tbody tr {
    border-bottom: 1px solid #dddddd;
}

.table-container tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.table-container tbody tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.table-container tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.add-book, .update-book {
    display: none;
    position: absolute;
    text-align: center;
}

.add-book input[type="text"], .update-book input[type="text"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    /* font-weight: bold; */
}

.add-book input[type="text"]:focus, .update-book input[type="text"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.add-book input[type="submit"], .update-book input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 14px 10px;
    outline: none;
    color: black;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

::placeholder {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.0em;
    font-weight: bold;
}

.add-book input[type="submit"]:hover, .update-book input[type="submit"]:hover {
    border-color: #2ecc71;
}

.rate {
    display: none;
    position: relative;
    /* cursor: pointer; */
    float: inherit;
}

.details {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: flex;
    /* float: inline-start; */
    /* display: none; */
    display: contents;
    border: 10px solid #2ecc71;
    height: 100px;
    width: 600px;
    border-radius: 100px;
    text-align: center;
}

.clearDetails {
    display: flex;
}